/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 14px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. The accordion panel is hidden/collapsed by default*/
.panel {
  padding: 0 18px;
  background-color: rgb(255, 255, 255);
  display: none;
  overflow: hidden;
}

/* Styling for the Emojis */
.faq-emoji {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  transition: transform 0.3s ease-out, filter 0.3s ease-out; /* Enlarges the text when you hover over it */
  backface-visibility: hidden;
}

/* Stying for h2 on hover */
h2:hover {
  color: blue; /* Changes the text color to blue */
  cursor: pointer;
}

h2:hover .faq-emoji {
  /* Enlarges the emoji by 25% */
  transform: scale(1.25); 
  
  /* Dark blue shadow */
  filter: drop-shadow(0 4px 6px rgba(50, 27, 226, 0.4));
}