/* Services */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* NavBar(group) */

position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Log In Home Services Location FAQ Dashboard Contact */

position: absolute;
width: 527px;
height: 39px;
left: 707px;
top: 40px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #111111;



/* FlowFix */

position: absolute;
width: 261px;
height: 36px;
left: 29px;
top: 30px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;

color: #000000;



/* Rectangle 5 */

position: absolute;
width: 1440px;
height: 300px;
left: 0px;
top: 80px;

background: #0B1F3B;


/* Our Plumbing Services */

position: absolute;
width: 756px;
height: 58px;
left: 329px;
top: 170px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Starting prices. Final quote depends on diagnosis and supplies. */

position: absolute;
width: 494px;
height: 22px;
left: 475px;
top: 246px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Rectangle 6 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;

background: #F7F7F7;


/* Group 26 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 25 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 24 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 23 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 22 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 21 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 20 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 19 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 18 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 17 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 16 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 15 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 14 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 13 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 12 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 11 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 10 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 9 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 8 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 7 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 6 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 5 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 4 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 3 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 2 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Group 1 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;



/* Rectangle 10 */

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 380px;

background: #F7F7F7;


/* Group 49 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;

filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));


/* Group 48 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 47 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 46 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 45 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 44 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 43 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 42 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 41 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 40 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 39 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 38 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 37 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 36 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 35 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 34 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 33 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 32 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 31 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 30 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 29 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 28 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Group 27 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;



/* Rectangle 7 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 440px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
border-radius: 12px;


/* Group 50 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;

filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));


/* Group 48 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 47 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 46 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 45 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 44 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 43 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 42 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 41 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 40 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 39 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 38 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 37 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 36 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 35 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 34 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 33 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 32 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 31 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 30 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 29 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 28 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Group 27 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;



/* Rectangle 7 */

position: absolute;
width: 360px;
height: 260px;
left: 101px;
top: 742px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
border-radius: 12px;


/* Rectangle 8 */

position: absolute;
width: 360px;
height: 260px;
left: 539px;
top: 440px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
border-radius: 12px;


/* Rectangle 10 */

position: absolute;
width: 360px;
height: 260px;
left: 539px;
top: 742px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
border-radius: 12px;


/* Rectangle 9 */

position: absolute;
width: 360px;
height: 260px;
left: 983px;
top: 440px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
border-radius: 12px;


/* Rectangle 11 */

position: absolute;
width: 360px;
height: 260px;
left: 983px;
top: 742px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
border-radius: 12px;


/* Emergency Repairs */

position: absolute;
width: 213px;
height: 29px;
left: 174px;
top: 474px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* Leak Detection */

position: absolute;
width: 213px;
height: 29px;
left: 612px;
top: 470px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* Drain Cleaning */

position: absolute;
width: 213px;
height: 29px;
left: 1056px;
top: 470px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* Starting at $120 Fast response for leaks, bursts, and urgent plumbing issues. */

position: absolute;
width: 228px;
height: 58px;
left: 160px;
top: 532px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;



/* Starting at $85 Advanced tools to locate hidden leaks before they cause costly damage. */

position: absolute;
width: 228px;
height: 58px;
left: 608px;
top: 535px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;



/* Starting at $120 Removal of clogs and buildup to restore full drainage performance. */

position: absolute;
width: 228px;
height: 58px;
left: 1052px;
top: 535px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;



/* Book Now → */

position: absolute;
width: 137px;
height: 25px;
left: 202px;
top: 654px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #FF6B00;



/* Book Now → */

position: absolute;
width: 137px;
height: 25px;
left: 651px;
top: 655px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #FF6B00;



/* Book Now → */

position: absolute;
width: 137px;
height: 25px;
left: 1097px;
top: 655px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #FF6B00;



/* Pipe Installation */

position: absolute;
width: 185px;
height: 29px;
left: 181px;
top: 775px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* Bathroom & Fixtures Installation */

position: absolute;
width: 314px;
height: 30px;
left: 567px;
top: 776px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* Water Heater Services */

position: absolute;
width: 213px;
height: 30px;
left: 1048px;
top: 776px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* Starting at $180 Toilet, sink, shower, and faucet installations done professionally and cleanly. */

position: absolute;
width: 190px;
height: 62px;
left: 624px;
top: 830px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;



/* Staring at $220 Installation, repair, and replacement for traditional and tankless systems. */

position: absolute;
width: 218px;
height: 54px;
left: 1048px;
top: 830px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;



/* Book Now → */

position: absolute;
width: 123px;
height: 21px;
left: 217px;
top: 955px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #FF6B00;



/* Book Now → */

position: absolute;
width: 122px;
height: 31px;
left: 659px;
top: 955px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #FF6B00;



/* Book Now → */

position: absolute;
width: 122px;
height: 24px;
left: 1105px;
top: 956px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
/* identical to box height */
text-align: center;

color: #FF6B00;



/* Starting at $150 Durable pipe upgrades and full replacements for long-term reliability. */

position: absolute;
width: 186px;
height: 54px;
left: 178px;
top: 837px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;



/* Group 52 */

position: absolute;
width: 170px;
height: 40px;
left: 1166px;
top: 22px;



/* Group 51 */

position: absolute;
width: 170px;
height: 40px;
left: 1166px;
top: 22px;



/* Rectangle 17 */

position: absolute;
width: 170px;
height: 40px;
left: 1166px;
top: 22px;

background: #FF6B00;
border-radius: 8px;


/* Group 53 */

position: absolute;
width: 115px;
height: 19px;
left: 1193px;
top: 32px;



/* Emergency Help */

position: absolute;
width: 115px;
height: 19px;
left: 1193px;
top: 32px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;

