/* CSS for Location Webpage */

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12 pt;
    height: 100%;
    margin: 0;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

.centered-text {
    text-align: center;
}

/* Pipes Hero Image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("location-hero-img.png");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    color: bisque;
    position: absolute;
    font-weight: bold;
}

/* FlowFix Location Hero Text */
.top-left {
    top: 25%;
    left: 19%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
}

/* Hero Text */
.bottom-right {
    top: 75%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    text-align: center;
}
